section#about
	article
		h2 WHAT WE DO
		.dots
			.dot
			.dot
			.dot

		.branding
			figure
				img(src="images/about/branding.svg", alt="Branding")

			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae vero atque voluptates illum quod, laboriosam dolorum consectetur eligendi non voluptatibus sunt magni, illo natus possimus nesciunt eveniet impedit quibusdam?

		.websites
			figure
				img(src="images/about/design.svg", alt="Design")

			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure recusandae vero atque voluptates illum quod, laboriosam dolorum consectetur eligendi non voluptatibus sunt magni, illo natus possimus nesciunt eveniet impedit quibusdam?