section#contact
	h2 WORK WITH US
	.dots
		.dot
		.dot
		.dot
	
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut, libero necessitatibus amet nostrum quas ipsum. Eius necessitatibus aliquam quia dolorum, deserunt natus veritatis consectetur consequatur dolor unde sunt, aperiam?
		
	form.contact-form(action="form.php", method="POST")
		input(type="text", name="name", placeholder="Name")
		input(type="email", name="email", placeholder="Email")
		input(type="text", name="subject", placeholder="Subject")
		div.budget 
			span Budget
			div.budget_value
		textarea(name="message", placeholder="Project Description")
		input(type="submit", value="SEND")
		