nav.container-nav
	ul
		li
			a(href="index.html")
				figure#logo
					img(src="images/header/logo.svg", alt="W3D Web Design")
		
		li We <strong>design</strong> for your <strong>clients</strong>
		
		li
			.icon
				span
					
					
.overlay-menu
	
	nav.menu
		ul
			li.about-link
				a.scroll(href="#about") What We Do
					.dots
						.dot-white
						.dot-white
						.dot-white
			li.work-link
				a.scroll(href="#work") Our Work
					.dots
						.dot-white
						.dot-white
						.dot-white
			
			li.process-link
				a.scroll(href="#process") How We Design
					.dots
						.dot-white
						.dot-white
						.dot-white
			
			li.contact-link
				a.scroll(href="#contact") Work with Us
					.dots
						.dot-white
						.dot-white
						.dot-white
	