section#objectives
	div.objectives-container
		figure
			img(src="images/objectives/laptop.svg", alt="Responsive Design")
			figcaption
				h4 Responsive Design

		figure
			img(src="images/objectives/globe.svg", alt="Future Proof")
			figcaption
				h4 Future Proof

		figure
			img(src="images/objectives/rocket.svg", alt="Marketing & Branding")
			figcaption
				h4 Marketing & Branding

		figure
			img(src="images/objectives/browser.svg", alt="UX Design")
			figcaption
				h4 UX Design

		figure
			img(src="images/objectives/bolt.svg", alt="Best Optimization")
			figcaption
				h4 Best Optimization

	span.line

