section#process
	h2 HOW WE DESIGN
	.dots
		.dot
		.dot
		.dot
		
	.steps
		figure
			img(src="images/process/process1.svg", alt="")
			figcaption
				h4.dark-blue WORK TOGETHER
				p First we listen, no one knows your business and clients better than you.
		figure
			img(src="images/process/process2.svg", alt="")
			figcaption
				h4.yellow STRATEGIC APPROACH
				p The design process is based on strategic decisions, we focus on small details.
		figure
			img(src="images/process/process3.svg", alt="")
			figcaption
				h4.red USER-CENTERED
				p Your end-users are the heart of the project, our work is designed and optimized for them.
				
	span.line