.socket
	.farewell
		h6 THANKS FOR YOUR VISIT
		
	.socket-container
		.multicolumn
			article.description
				h4 W3D DESIGN
				p We are a small design studio from Barcelona. We focus on small details and making better user experiences.
			article.touch
				h4 KEEP IN TOUCH
				a(href="")
					img(src="", alt="")
					p 93-676-64-50
				a(href="")
					img(src="", alt="")
					p info@w3ddesign.com
			article.follow
				h4 FOLLOW US
				nav.social
					ul
						li
							a(href="")
								img(src="images/social/facebook.svg", alt="")
						li
							a(href="")
								img(src="images/social/github.svg", alt="")
						li
							a(href="")
								img(src="images/social/twitter.svg", alt="")
							
footer
	.dots
		.dot-socket
		.dot-socket
		.dot-socket
	p &copy; Copyright 2015 <a href="http://w3ddesign.com">W3D Design</a>, all rights reserved.  