doctype html
html(lang="en")
	head
		include includes/head
	body
		header
			include includes/english/nav
			include includes/english/header
		include includes/english/objectives
		include includes/english/about
		include includes/english/work
		include includes/english/call
		include includes/english/process
		include includes/puzzle
		include includes/english/contact
		include includes/english/socket
		
		span.arrow
			a.top(href="#logo")
				img(src="images/arrow.svg", alt="")
		include includes/scripts