section.puzzle
	.pieces
		figure.listen
			img(src="images/puzzle/listen.svg", alt="")
		figure.learn
			img(src="images/puzzle/learn.svg", alt="")
		figure.develop
			img(src="images/puzzle/develop.svg", alt="")
		figure.design
			img(src="images/puzzle/design.svg", alt="")
			
	h3 Each <span>detail</span> is important
	
	.small-puzzle
		img(src="images/puzzle/puzzle.svg", alt="")